Ch07/WCFService/WCFService/Service References/StartingHandServiceReference/StartingHandService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFService.Web" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFService.Web" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStartingHands">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StartingHands" nillable="true" type="tns:StartingHands" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStartingHands" nillable="true" type="tns:ArrayOfStartingHands" />
  <xs:complexType name="StartingHands">
    <xs:sequence>
      <xs:element minOccurs="0" name="Card1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Card2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nickname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StartingHands" nillable="true" type="tns:StartingHands" />
</xs:schema>