Ch07/WCFService/WCFService/Service References/StartingHandServiceReference/StartingHandService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8551/StartingHandService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFService.Web" />
  <xs:element name="GetHands">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHandsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFService.Web" minOccurs="0" name="GetHandsResult" nillable="true" type="q1:ArrayOfStartingHands" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>